* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #70C3FF;
}


/* HEADER */
header{
    background-color: #fff;
    margin: 0px auto;
    width: 100vw;
    display: flex;
}

.header-img{
    flex: 1;
    text-align: end;
}
.header-img img{
    width: 20vw;
}
.header-text{
    flex: 1;
}

/* NAVIGATION */
.navigation{
    list-style: none;
    display: block;
    padding: 0px;
}

.navigation li{
    background-color: teal;
    text-align: center;
    display: none;
}
.navigation li:first-child{
    display: block;
}

.navigation a{
    text-decoration: none;
    font-size: 2em;
}
.navigation a:hover{
    background-color: tomato;
}
.active{
    background-color: turquoise;
}
.active:hover{
    background-color: turquoise !important;
}
.responsive li{
    display: block;
}




main{
    background-color: #fff;
    margin: 0px auto;
    width: 100vw;
    padding: 25px 0px;
}

main h1{
    text-align: center;
}

main section{
    border: 2px solid #999;
    min-height: 100px;
    margin: 25px 50px;
}

footer{
    margin: 0px auto;
    width: 100vw;
    background-color: #485696;
    min-height: 50px;
}

footer p{
    text-align: center;
    color: #fff;
}

@media only screen and (min-width: 800px) {
    header{
        width: 75vw;
    }
    .navigation{
        display: flex;
        width: 75vw;
        margin: 0px auto;
    }
    .navigation li{
        flex: 1 1 auto;
        padding: 5px;
        display: inherit;
    }
    .navigation a{
        font-size: 1.25em;
        padding: 5px 20px;
    }
    .navigation li:first-child{
        display: none;
    }

    main{
        width: 75vw;
    }

    footer{
        width: 75vw;
    }
}